<?xml version="1.0"?>
<model>
  <name>horse_scaled_large</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>roha</name>
    <email>roha@local</email>
  </author>
  <description>Horse model based on horse_1.glb corrected from extreme raw scale to approx 1.70 m height.</description>
</model>
